@model Urun

<table class="table">
    <thead>
        <tr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Isım</th>
                        <th>Aciklama</th>
                        <th>Kategori</th>
                        <th>Fiyat</th>
                    </tr>
                </thead>
                <tr>
                </tr>
                <td>1</td>
                <td>Lenovo Ultrabook V4</td>
                <td>Bu ürünün ağırlığı yaklaşık 2400 gramdır</td>
                <td>Elektronik</td>
                <td>13999</td>
        </tr>
</table>
</div>